<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Public Chatroom</title>
    <link href="/css/chatstyle.css" rel="stylesheet" type="text/css">
    <link href="/css/public_chat.css" rel="stylesheet" type="text/css">

</head>
<body>

<div id="PublicContent">
    <p> Public Chatroom </p>
    <div id="Chatroom">
        <div id="ChatBox"></div>
        <div id="MessageBox">
            <input id="message">
            <input type="submit" onclick="send_public_message()">
        </div>

    </div>
    <div id="online-users"></div>

</div>
<!--<div id="ContentWrap">-->
<!--<div id="ChatWrap">-->
<!--<div id="Chat"></div>-->
<!--<form id="send-message">-->
<!--<input id="message"></input>-->
<!--<input type="submit"></input>-->
<!--</form>-->
<!--</div>-->
<!--<div id="users"></div>-->
<!--</div>-->

<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/logging_in.js"></script>
<script src="/js/public_messaging.js"></script>
</body>
</html>