
body {
    background-color: #257374;
}

/*TODO: Refactor CSS code...*/
#Chat {
    height: 500px;
    overflow-y: scroll;
    color: black;
}

#ContentWrap {
    display: none;
}

#NickWrap {
    color: white;
    top: 50%;
    left: 50%;
}
#users {

}

#ChatWrap {
    background-color: #ADD8E6;
    float: left;
    border: 2px #000 solid;
}
#HEADER {
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color: white;
}