
body {
    background-color: #d3d3d3;
}

#Chat {
    height: 500px;
    overflow-y: scroll;
}

#ContentWrap {
    display: none;
}

#NickWrap {
    color: blue;
}
#users {

}

#ChatWrap {
    background-color: #ADD8E6;
    float: left;
    border: 2px #000 solid;
}
#HEADER {
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color: darkblue;
}