#PublicContent {
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color: white;
}

#ChatContent {
    float: left;
    top: 55%;
    width: 100%;
    background-color: black;
}