#PublicContent {
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color: white;
}

#online-users {
    font-size: 15px;
}

#Chatroom {
    float: left;
    display: inline;
    height: 500px;
    width: 600px;
    overflow-y: scroll;
    background-color: slategray;
    border: 2px solid darkslategray;
}

#MessageBox {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: inherit;
}

#ChatBox {
    font-size: 15px;
    color: black;
    overflow-y: scroll;
    text-align: left;
    position: absolute;
}

#message {
    width: 80%;
}
