#PublicContent {
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color: white;
}

#online-users {
    float: right;
    font-size: 15px;
}

#Chatroom {
    top: 10%;
    float: left;
    height: 500px;
    width: 600px;
    overflow-y: scroll;
    background-color: #ADD8E6;
}

#MessageBox {
    position: absolute;
    bottom: 0;
    height: 50px;
}

#ChatBox {
    font-size: 15px;
    color: black;
    overflow-y: scroll;
    position: absolute;
}

